<!doctype html>
<html ng-app="myApp">
	<head>
		<meta lang="EN" charset="UTF-8">
		
		<title>Thinkful AngularJS Unit 1 Lesson 2 - ngMadLibs</title>
		
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/styles.css">

	</head>
	<body>
		<div class="wrapper">
			<div class="container" ng-controller="MultiplicationCtrl" initial-number-limit="10">
				<h1>AngularJS Fueled Multiplication Table</h1>
				<input type="number" placeholder="Enter a Number" ng-model="numberLimit">
				<table>
					<tr ng-repeat="numberB in numbers">
						<td ng-repeat="numberA in numbers" 
								ng-mouseleave="clearActiveFactors()"
								ng-mouseover="setActiveFactors(numberA, numberB)" 
								ng-class="{hover: matchesFactor(numberA, numberB)}">
							{{ compute(numberA, numberB) }}
						</td>
					</tr>
				</table>
			</div>
		</div>
	<!-- scripts -->
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/app.js"></script>

	</body>
</html>