<!doctype html>
<html ng-app="myApp">
	<head>
		<meta lang="EN" charset="UTF-8">
		
		<title>Thinkful AngularJS Unit 1 Lesson 2 - ngMadLibs</title>
		
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/styles.css">

	</head>
	<body>
		<h1>AngularJS fueled multiplication table</h1>
		<table ng-controller="MultiplicationCtrl">
			<tr ng-repeat="numberB in numbers">
				<td ng-repeat="numberA in numbers">
					{{ numberA * numberB }}
				</td>
			</tr>
		</table>

	<!-- scripts -->
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/app.js"></script>

	</body>
</html>